
a.btn, .btn, button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
    padding: var(--space-05) var(--space-3);
	border: 0;
	
	&:active {
		transition: none;
	}

	span, strong {
		margin: 0 var(--space-05) 0 var(--space-05);
	}
	
	.icon {
		/* icon inherits color of button label */
		color: inherit;
		flex-shrink: 0;
	}

    &.btn-xs {
        padding: var(--space-025) var(--space-2);
        @include font-size(0.875);
        border-radius: 99px;
        line-height: var(--space-2);
    }
}



/* feedback */
.btn[disabled] {
	cursor: not-allowed;
	background-color: var(--primary-20);
	color: var(--primary-30);
	box-shadow: none;
	opacity: 0.6;

	&:visited {
		color: var(--text-link);
	}
}

.btn--full {
    color: white;
    width: 100%;
}