

// Custom Buttons
.wp-block-button {

	.wp-block-button__link {
		@include font-size(1);
		padding: var(--space-05) var(--space-3);
	
		&:not([class*="has-"]) {
			background-color: var(--primary);
		}
		 
		&.has-color-white {
			color: var(--neutral-white);
		}
	} 
}

.wp-block-button.is-style-outline {
	.wp-block-button__link {
		@include font-size(1);
		padding: var(--space-05) var(--space-3);
		 
		&.has-color-white {
			color: var(--neutral-white);
		}
	}
}

.wp-block-button:not(.is-style-with-icon) .wp-block-button__link {
    font-weight: 700;
    transition: all 0.3s ease;

	&.has-primary-background-color a {
		&:hover {
			color: var(--text-white);
		}
	}

	&:hover {
		background-color: var(--primary-80);
		color: var(--text-white);
		padding: var(--space-05) var(--space-4);
		transition: padding 0.3s ease-in-out;
	}
	
}

.wp-block-button.is-style-with-arrow .wp-block-button__link {

	&:hover {
		
		&::after {
			padding-left: var(--space-1);
			transition: padding-left 0.3s ease;
		}
	}

	&:after {
		content: url('./assets/icons/arrow-right.svg');
		padding-left: var(--space-05);
		transition: padding-left 0.3s ease;
	}

}


.wp-block-button.is-style-outline .wp-block-button__link {
	transition: all .2s ease;
	
	&:hover {
		color: color(secondary);
		background-color: white;
		transition: all .2s ease;
	}
	
}

